<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
    <center>
        <a href="/add">Add</a><br />
        <table border="1">
            <thead>
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Name</b></td>
                    <td><b>Description</b></td>
                    <td><b>Options</b></td>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item["id"] }}</td>
                        <td>{{ item["name"] }}</td>
                        <td>{{ item["description"] }}</td>
                        <td>
                            <a href="/edit?id={{ item['id'] }}">details</a><br />
                            <a href="/delete?id={{ item['id'] }}">delete</a><br />
                        </td>
                    </tr>
                {% end %}

            </tbody>
        </table>
    </center>
    </body>
</html>